/* Color */
/* Font family */
/* Flex box par defaut */
@font-face {
  font-family: "Shrikhand";
  src: url("../../public/fonts/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /** test **/
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}

li {
  list-style: none;
}

.btn {
  margin: 10px auto;
  padding: 15px;
  font-size: 1.2em;
  color: #FFF;
  border: none;
  border-radius: 30px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
}
.btn--flattened {
  width: 50%;
  max-width: 215px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__localisation {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
  background: #e9e9e9;
}
.header__img {
  width: 100%;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 0;
  background: #f6f6f6;
}
.welcome__title {
  width: 60%;
  margin: 10px;
  text-align: center;
}
.welcome__text {
  width: 70%;
  margin: 10px;
  text-align: center;
}

.main_menu {
  background: #f6f6f6;
}

.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -50px;
  background: #f6f6f6;
  border-radius: 30px;
  padding: 15px 0;
}

.menu_title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  font-family: "Shrikhand";
}
.menu_title__icon {
  margin: 0 0 0 auto;
  cursor: pointer;
}

.cardMenu {
  padding: 15px 20px;
}
.cardMenu > hr {
  width: 13%;
  height: 0.3rem;
  background: #99E2D0;
  border: none;
  margin: 5px 0;
}

.cardList {
  display: flex;
  justify-content: space-between;
  background: #FFF;
  border-radius: 6px;
  margin: 10px 0;
}

.cardName {
  padding: 10px 10px;
}

.cardInformation {
  display: flex;
  align-items: flex-end;
}
.cardInformation__price {
  align-self: flex-end;
  padding: 10px 10px;
}
.cardInformation--check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
  background: #99E2D0;
  color: white;
  font-size: 1.2em;
  border-radius: 0 5px 5px 0;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  width: 100%;
  box-shadow: 0px 3px 3px #c3c3c3;
  z-index: 1;
}
.nav__img {
  margin: auto;
}
.nav .fa-arrow-left {
  margin-left: 30px;
}

.functioning {
  padding: 20px 20px;
}

.functioning-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.bullet-list {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #f6f6f6;
  margin: 10px 0;
  padding: 25px 15px;
  border-radius: 15px;
}
.bullet-list::before {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9356DC;
  color: #FFF;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 0.8em;
  position: absolute;
  left: 5px;
}
.bullet-list:hover {
  background: #f2eafb;
}
.bullet-list:hover .bullet-list__icon--color {
  color: #9356DC;
}
.bullet-list--01::before {
  content: "1";
}
.bullet-list--02::before {
  content: "2";
}
.bullet-list--03::before {
  content: "3";
}
.bullet-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  margin: 0 auto;
  font-size: 1.2em;
  color: #909090;
}
.bullet-list__text {
  width: 200px;
  margin: 0 auto;
}

.restaurant {
  padding: 20px 20px;
  background: #f6f6f6;
}
.restaurant__title {
  margin: 10px;
}

.link-card {
  display: flex;
  margin: 1.5em 0;
}

.figure-card {
  position: relative;
  display: flex;
  flex-direction: column;
}
.figure-card__img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.figure-card__new {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px 15px;
  color: #278870;
  font-weight: bold;
  background: #99E2D0;
  border-radius: 2px;
}

.figcaption-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background: #FFF;
  border-radius: 0 0 15px 15px;
}
.figcaption-card__icon {
  position: absolute;
  right: 15px;
  font-size: 1.5em;
}

.footer {
  background: #353535;
  color: #FFF;
  padding: 20px 20px;
}
.footer li {
  margin: 5px 0;
}
.footer .fas {
  margin-right: 5px;
  width: 1.2em;
  font-size: 0.7em;
}
.footer__title {
  font-family: "Shrikhand";
}

/*# sourceMappingURL=style.css.map */
