.btn {
  margin: 10px auto;
  padding: 15px;
  font-size: 1.2em;
  color: #FFF;
  border: none;
  border-radius: 30px;
  background: linear-gradient(to bottom right, $color-secondary, $color-primary);
  &--flattened {
    width: 50%;
    max-width: 215px;
  }
}