.footer {
  background: #353535;
  color: #FFF;
  padding: 20px 20px;
  li {
    margin: 5px 0;
  }
  .fas {
    margin-right: 5px;
    width: 1.2em;
    font-size: 0.7em;
  }
  &__title {
    font-family: $font_logo_title;
    font-weight: normal;
    font-size: 1em;
  }
}