.functioning {
  padding: 20px 20px;
}

.functioning-list{
  @include parameter_flex(column, center, center);
  font-size: 1.2em;
}

.bullet-list{
  @include parameter_flex($direction, center, $align-items);
  width: 100%;
  background: $color-gray;
  margin: 10px 0;
  padding: 25px 15px;
  border-radius: 15px;
  &::before{
    @include parameter_flex($direction, center, center);
    background: $color-primary;
    color: #FFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 0.8em;
    position: absolute;
    left: 5px;
  }
  &:hover{
    background: lighten($color-primary, 35%);
    & .bullet-list__icon--color {
      color: $color-primary;
    }
  }
  &--01::before{
    content: "1";
  }
  &--02::before{
    content: "2";
  }
  &--03::before{
    content: "3";
  }
  &__icon {
    @include parameter_flex($direction, center, center);
    width: 50px;
    margin: 0 auto;
    font-size: 1.2em;
    color: darken($color-gray, 40%);
  }
  &__text {
    width: 200px;
    margin: 0 auto;
  }
}