.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__localisation{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px 0;
    background: $color-gray;
  }
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  background: lighten($color-gray, 10%);
  &__title{
    width: 60%;
    margin: 10px;
    text-align: center;
  }
  &__text{
    width: 70%;
    margin: 10px;
    text-align: center;
  }
}