.header {
  @include parameter_flex(column, $justify-content, center);
  &__localisation{
    @include parameter_flex($direction, center, $align-items);
    width: 100%;
    padding: $padding-horizontale;
    background: darken($color-gray, 5%);
  }
  &__img {
    width: 100%;
  }
}

.welcome {
  @include parameter_flex(column, center, center);
  width: 100%;
  padding: $padding-horizontale;
  background: $color-gray;
  &__title{
    width: 60%;
    margin: 10px;
    text-align: center;
  }
  &__text{
    width: 70%;
    margin: 10px;
    text-align: center;
  }
}