.main_menu {
    background: $color-gray;
}

.menu {
    @include parameter_flex(column, $justify-content, $align-items);
    position: relative;
    top: -50px;
    background: $color-gray;
    border-radius: 30px;
    padding: 15px 0;
}

.menu_title {
    @include parameter_flex($direction, center, center);
    padding: 0 20px;
    font-family: $font_logo_title;
    &__icon {
        margin: 0 0 0 auto;
    }
}


.cardMenu {
    padding: 15px 20px;
    & > hr {
    width: 13%;
    height: 0.3rem;
    background: $color-tertiary;
    border: none;
    margin: 5px 0;
    }
}

.cardList {
    @include parameter_flex($direction, space-between, $align-items);
    background: #FFF;
    border-radius: 6px;
    margin: 10px 0;
}

.cardName {
    padding: 10px 10px;
}

.cardInformation {
    @include parameter_flex($direction, $justify-content, flex-end);
    &__price {
    align-self: flex-end;
    padding: 10px 10px;
    }
    &--check {
        @include parameter_flex($direction, center, center);
        width: 60px;
        height: 100%;
        background: $color-tertiary;
        color: white;
        font-size: 1.2em;
        border-radius: 0 5px 5px 0;
    }
}