.main_menu {
    background: $color-gray;
}

.menu {
    @include parameter_flex(column, $justify-content, $align-items);
    position: relative;
    top: -50px;
    background: $color-gray;
    border-radius: 30px;
    padding: 15px 0;
}

.menu_title {
    @include parameter_flex($direction, center, center);
    padding: 0 20px;
    font-family: $font_logo_title, sans-serif;
    &__icon {
        margin: 0 0 0 auto;
        cursor: pointer;
    }
}

.container_cards_menu {
    display: flex;
    flex-direction: initial;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    padding: 15px 20px;
}
@media screen and (min-width: 700px) {
    .container_cards_menu{
        flex-direction: row;
        align-self: center;
    }
}

.cardMenu {
    width: 100%;
    &__separator {
    width: 50px;
    height: 0.3rem;
    background: $color-tertiary;
    border: none;
    margin: 5px 0;
    }
}
@media screen and (min-width: 700px) {
    .cardMenu{
        width: 45%;
    }
}

.cardList {
    @include parameter_flex($direction, space-between, $align-items);
    background: #FFF;
    border-radius: 1rem;
    margin: 1rem 0;
    box-shadow: 0px 3px 10px darken($color-gray, 20%);
}

.cardName {
    padding: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &__title {
        font-size: 1.1rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__text {
        font-size: 0.9rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.cardInformation {
    @include parameter_flex($direction, $justify-content, flex-end);
    &__price {
    align-self: flex-end;
    padding: 1rem;
    font-weight: bold;
    }
    &--check {
        @include parameter_flex($direction, center, center);
        width: 60px;
        height: 100%;
        background: $color-tertiary;
        color: white;
        font-size: 1.2em;
        border-radius: 0 1rem 1rem 0;
    }
}