.restaurant {
  padding: 20px 20px;
  background: lighten($color-gray, 10%);
  &__title {
    margin: 10px;
  }
}

.card {
  display: flex;
  margin: 1.5em 0;
  &__figure {
    position: relative;
    display: flex;
    flex-direction: column;
    &--img {
      width: 100%;
      border-radius: 15px 15px 0 0;
    }
    &--new {
      position: absolute;
      top: 15px;
      right: 15px;
      padding: 5px 15px;
      color: darken($color-tertiary, 20%);
      background: $color-tertiary;
    }
  }
  &__figcaption {
    padding: 10px;
    background: #FFF;
    border-radius: 0 0 15px 15px;
  }
}