.restaurant {
  padding: 20px 20px;
  background: lighten($color-gray, 10%);
  &__title {
    margin: 10px;
  }
}

.link-card {
  display: flex;
  margin: 1.5em 0;
}

.figure-card {
  position: relative;
  @include parameter_flex(column, $justify-content, $align-items);
  &__img {
    width: 100%;
    border-radius: 15px 15px 0 0;
  }
  &__new {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px 15px;
    color: darken($color-tertiary, 40%);
    background: $color-tertiary;
  }
}

.figcaption-card {
  @include parameter_flex(column, center, $align-items);
  padding: 10px;
  background: #FFF;
  border-radius: 0 0 15px 15px;
  &__icon {
    position: absolute;
    right: 15px;
    font-size: 1.5em;
  }
}